/*Pimp RESETS RESET RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}
.clear{
    clear: both;
    line-height: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
    height: 0;
    visibility: hidden;
}
.xspace{
    margin: 8px 0 0 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


/*HTML*/ 

body {
    color: #575757;
    background: url(../img/backgnds/bg-repeat.jpg) center top no-repeat #d5d6d8;
    font: 11px Arial, Helvetica, sans-serif; 
}


/*Header*/

#header {
    margin:0 auto;
    width:880px;
    margin-top: 40px;
    height: 88px;
}
#header #flags{
    float: right;
    margin: 65px 1px 0 0;
}
#header #logo{
    float: left;
    width: 411px;
    margin-left: 0;
}
#wrap{
    margin:0 auto;
    width:890px;
}
.news .hdr{
    background: #F1EEE5; 
    padding-left: 39px;
}
#header #contacts{
    float: left;
    width: 186px;
    margin: 51px 0 0 88px;
}


/*Main Nav*/

#main-nav {
    margin-left: 5px;
    width:880px;
}
#main-nav ul li{
    float: left;  
    /*width: 190px; */
    margin: 0 2px 0 0;   
}
#main-nav ul li a{
    background: url(../img/backgnds/swipe-rollover.gif) 0 0 no-repeat #FFFFFF;
    color: #231F20;                
    font-weight: 900;
    padding: 13px 0 9px; 
    text-decoration: none;
    font-size: 14px;
    float: left;  
    width: 218px;  
    text-align: center;
}
#main-nav ul li a.selected {
    background: #ea1b2f;
    color: #FFFFFF;
}
#main-nav ul .no-margin, #main-nav ul li .no-margin{
    margin: 0;
    width: 220px; 
}


/*Main Cont*/

#main-cont{
    width: 890px;
    position: relative;
}
#main-cont .box-top{
    background: url(../img/backgnds/shadow_bg_01.png) no-repeat bottom center;
    height: 11px;
    width: 890px;
}
#main-cont .box-middle{
    background: url(../img/backgnds/shadow_bg_02.png) repeat-y;
    width: 890px; 
}
#main-cont .box-bottom{
    background: url(../img/backgnds/shadow_bg_03.png) no-repeat;
    height: 13px;
    width: 890px; 
} 
#main-cont .box-middle{
    padding: 0 5px; 
}
#main-cont .entrance{
    padding:16px 0 0;
}
#main-cont .box-middle .content {
    padding: 16px 0 9px 18px;
    width: 844px;
}
#main-cont .box-middle .maps {
    padding: 16px 0 7px 8px;
    width: 240px;
    float: left;
} 
#main-cont .box-middle .verical-lin {
    width:1px;
    height: 202px;
    background: #eeeeee;
    float: left;
}
#main-cont .box-middle .horizontal-lin {
    width:680px;
    height: 2px;
    background: #eeeeee;
}
#main-cont .box-middle .maps .img-map {
    float: left;
    margin-left: 7px;
}  
#main-cont .box-middle .links {
    float: left;
    padding: 16px 0 7px 6px;
}
#main-cont .box-middle .links ul{
}
#main-cont .box-middle .links .img-faq{
    margin-top: 7px;
}
#main-cont .bags-hm{
    left: 552px;
    margin-top: 326px;
    padding-bottom: 50px;
    position: absolute;
}


/*Boxes*/

.box .hdr{
    background: #f1eee5;
    padding: 10px 12px 10px 41px;
    color: #a59e94;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}
.box .cnt{
    margin: 4px 0 0 0;
    background: #d4d9dd;
}
.box .cnt-inner{
    background: #e7e7e8;
    padding-bottom: 20px;
}
.box .cnt-inner .img{
    float: right;
} 
.box .cnt-inner .cnt_ttl, .box .cnt-inner .cnt_cnt{
    font-size: 14px;
}
.box .cnt-inner .cnt_ttl{
    color: #000000;
    text-transform: uppercase;
    padding: 26px 12px 14px 41px;
    font-weight: bold;
}
.box .cnt-inner .cnt_cnt{
    color: #231F20;
    padding: 0 12px 0 41px;
    line-height: 22px;
}


/*Contact Simple*/

#kontakt_div {
    background-image: url("../img/kontakt.png");
    color: #333333;
    font-size: 16px;
    height: 278px;
    margin: 0;
    padding: 0;
    width: 669px;
    display: none;
}
#kontakt_div .inner{
    padding-top:108px; 
    padding-left:266px; 
    line-height:19px; 
    width:395px;
}
#kontakt_div h4{
    font-size: 19px;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin-bottom: 9px;
}
#Loader{
    z-index: 1;
}


/*Frameworks VARS*/

.mr-2{
    margin-right: 2px;
}
.mt-6{
    margin-top: 6px;
}
.ml-6{
    margin-left: 6px;
}
.pl-9{
    padding-left: 9px;
}


/*CMS vars*/
.lineinput {
    display: block;
    margin: 10px 0;
}
input, select {
    border: 1px solid #D3D3D3;
    color: #000000;
    font-family: Arial,Helvetica;
    font-size: 15px;
}
input {
    background: url("../img/backgnds/bg_input.gif") repeat-x scroll 0 0 #FFFFFF;
    text-indent: 7px;
}
.inputbox {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DEDEDE;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    color: #444444;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    margin-top: 2px;
    padding: 3px;
    width: 400px;
}
.short{
    width: 237px; 
    margin-right: 7px;
}
i{
    color: #848484;
    font-family: Tahoma;
    font-size: 11px;
    line-height: 16px;
    text-decoration: none;
}
.cmsbtn {
    background: url(../img/backgnds/cmsbtn.gif) center center repeat-x scroll #414141;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
    padding: 5px;
    text-indent: 0;
    text-decoration: none;
    font-family: Arial,Helvetica;
}
.cmsbtnsml {
    background: url(../img/backgnds/cmsbtnsml.gif) center center repeat-x #414141;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    margin-top: 4px;
    padding: 3px 5px;
    text-indent: 0;
    text-decoration: none;
    font-family: Arial,Helvetica;
}
.cmsbtn:hover, .cmsbtnsml:hover{
    background: none repeat scroll 0 0 #414141;
}
#infomessage {
    border-left: 4px solid #EA1B2F;
    display: none;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0 10px 2px;
    padding: 2px 0 2px 10px;
    background: #F1EEE5;
}
ul.tagList {
    margin: 3px 0 0;
    overflow: hidden;
    padding: 0;
    width: 415px;
}
.tagList li {
    background: none repeat scroll 0 0 #EFEFEF;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 11px;
    margin: 2px 3px 0 0;
    padding: 2px 10px 2px 4px;
}

/*Stop stanica*/
#stopstanice{
    border: 1px solid #F1EEE5;
    border-bottom: none;
    border-top: none;
}
.stopstanica{
    padding: 12px 12px;
    font-size: 13px;
}
.prva{
    border: 1px solid #F1EEE5;
    border-bottom: none; 
    background: #F1EEE5;
    padding-left: 30px;
}
.zadnja{
    border: 1px solid #F1EEE5;
    border-top: none;
    background: #F1EEE5;
    padding-left: 30px;
}
.stopstanica .inputbox {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DEDEDE;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    color: #444444;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 15px;
    margin-top: 2px;
    padding: 3px;
    width: 300px;
}
.stopstanica .lineinput {
    display: block;
    margin: 0 0 10px 4px;
    float: left; 
}
.stopstanica .vrijemepolaska, .stopstanica .vrijemedolaska{
    width: 128px;
}
.stopstanica .km{
    width: 80px;
}
.diffbg{
    background-color: #D4D9DD;
}
.space{
    width: 128px;
}
.stopstanica .delete-stop{
    margin-left: 12px;
}
.create-stop{
    margin: 0 20px;
}
.create-stop-label{
    padding-left: 18px;
}
input.idle, option.idle  {
    color: #999999 !important;
    font-style: italic !important;
}
.stopstanica .move {
    cursor: pointer;
    padding: 28px 0 0;
}
strong{
    font-weight: bold;
}

/*=======================================
* Tooltips
* ======================================*/
#tooltip{
    position:absolute;
    /*background:#DDD;*/
    /*padding:20px*/;
    opacity:0.9;
    -moz-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;
    /*font-weight:bold;*/
    font-size:14px;
    display:none;
    width: 100px;
}
.tooltip h3{
    margin: 0 0 5px;
    text-align: left;
}

.stanice_tip {
    background-color: #FF7C0A;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 3px;
    text-decoration: none;
    font-size: 11px;
}

table thead th {
    background-color: #6699CC;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    text-align: left;
}